body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #777;
    width: 960px;
    font-size: 18px;
    color:#777;
}

header{
    position: relative;
    width: 960px;
    height: 80px;
    -position: absolute;   /*==step1 for box center==*/
    -left: 50%;            /*==step2 for box center==*/
    -margin-left: -480px;  /*==step3 for box center(480=960/2)==*/
    margin-left: 200px;
    margin-top: 10px;
    padding-top: 45px;
    text-align: center;
    background-color: #ebebeb;
}

nav{
    position: relative;
    width: 960px;
    height: 40px;
    margin-left: 200px;
    margin-top: 10px;
    padding-top: 25px;
    text-align: center;
    background-color: #ebebeb;
}

section{
    position: relative;
    float: left;
    width: 495px;
    height: 290px;
    margin-left: 200px;
    margin-top: 20px;
    padding-top: 35px;
    text-align: center;
    background-color: #ebebeb;
}

article{
    position: absolute;
    float: left;
    left: 15px;
    width: 465px;
    height: 220px;
    margin-top: 20px;
    padding-top: 15px;
    text-align: center;
    color: #ebebeb;
    background-color: #777;
}

h1{
    position: absolute;
    float: left;
    left: 15px;
    width: 435px;
    height: 45px;
    margin-top: 20px;
    padding-top: 25px;
    text-align: center;
    background-color: #ebebeb;
    color: #777;
}

p{
    position: absolute;
    float: left;
    left: 15px;
    bottom: 10px;
    width: 435px;
    height: 45px;
    margin-top: 20px;
    padding-top: 25px;
    text-align: center;
    background-color: #ebebeb;
    color: #777;
}

aside{
    position: absolute;
    float: right;
    bottom: 0px;
    width: 445px;
    height: 290px;
    margin-top: 20px;
    padding-top: 35px;
    margin-left: 515px; /*--section=495px, plus 20px margin--*/
    text-align: center;
    background-color: #ebebeb;
}

.clear{
    clear: both;
}

footer{
    position: absolute;
    width: 960px;
    height: 40px;
    margin-left: 200px;
    margin-top: 20px;
    padding-top: 25px;
    text-align: center;
    background-color: #ebebeb;
}
